key: 'module-generators'

patterns: [
  {
    name: 'module.glm'
    match: "(?<=^|\\s)(module)\\s+(generators)\\s*;"
    captures:
      1: name: 'keyword.type.module.glm'
      2: name: "entity.name.function.module.glm"
  }
  {
    name: 'module.glm'
    begin: "(?<=^|\\s)(module)\\s+(generators)\\s*\\{?"
    beginCaptures:
      1: name: "keyword.type.module.glm"
      2: name: "entity.name.function.module.glm"
    end: "}"
    patterns: [
      {include: "#comments"}
      #TODO maybe include generic variables
  ]}]
