key: 'module-powerflow'

patterns: [
  {
    name: 'module.glm'
    match: "(?<=^|\\s)(module)\\s+(powerflow)\\s*;"
    captures:
      1: name: 'keyword.type.module.glm'
      2: patterns: "entity.name.function.module.glm"
  }
  {
    name: 'module.glm'
    begin: "(?<=^|\\s)(module)\\s+(powerflow)\\s*\\{?"
    beginCaptures:
      1: name: "keyword.type.module.glm"
      2: name: "entity.name.function.module.glm"
    end: "}"
    patterns: [
      {include: "#comments"}
      {include: "#powerflow-module-globals"}
      #TODO maybe include generic variables
  ]}]
