key: 'object-properties-common'

patterns: [{
  include: "#comments"
}
{
  name: 'object.common.property.glm'
  # TODO make this match more selective
  match: "^\\s*(name|id|groupid|parent|rank|schedule_skew|latitude|longitude|in|out|heartbeat|flags)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'keyword.object.common.property.glm'
    2: patterns: [{include: "#wildcard-element"}] #TODO
  }]
