key: 'powerflow-emissions'

patterns: [
  name: 'object.glm'
  begin: "(?<=^|\\s)(object)\\s*(?:(?<=\\s)(emissions)(?::(\\d*)(?:\\.\\.(\\d+))?)?)?\\s*\\{?"
  beginCaptures:
    # TODO make class match more selective, based on class name
    1: name: "storage.type.object.glm"
    2: name: "entity.name.function.object.glm"
    3: name: "constant.id.object.glm"
    4: name: "constant.id.object.glm"
  end: "}"
  patterns: [
    {include: "#powerflow-properties-emissions"}
  ]]
