key: 'powerflow-properties-impedance_dump'

# class impedance_dump {
# 	char32 group; // the group ID to output data for (all links if empty)
# 	char256 filename; // the file to dump the current data into
# 	timestamp runtime; // the time to check voltage data
# 	int32 runcount; // the number of times the file has been written to
# }

patterns: [{
  include: "#object-properties-common"
}
{
  name: 'impedance_dump.powerflow.property.glm'
  match: "^\\s*(group)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.impedance_dump.powerflow.glm'
    2: patterns: [{include: "#char32"}]
}
{
  name: 'impedance_dump.powerflow.property.glm'
  match: "^\\s*(filename)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.impedance_dump.powerflow.glm'
    2: patterns: [{include: "#char256"}]
}
{
  name: 'impedance_dump.powerflow.property.glm'
  match: "^\\s*(runtime)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.impedance_dump.powerflow.glm'
    2: patterns: [{include: "#timestamp"}]
}
{
  name: 'impedance_dump.powerflow.property.glm'
  match: "^\\s*(runcount)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.impedance_dump.powerflow.glm'
    2: patterns: [{include: "#int32"}]
}]
