key: 'powerflow-properties-line_spacing'

# class line_spacing {
# 	double distance_AB[ft];
# 	double distance_BC[ft];
# 	double distance_AC[ft];
# 	double distance_AN[ft];
# 	double distance_BN[ft];
# 	double distance_CN[ft];
# 	double distance_AE[ft]; // distance between phase A wire and earth
# 	double distance_BE[ft]; // distance between phase B wire and earth
# 	double distance_CE[ft]; // distance between phase C wire and earth
# 	double distance_NE[ft]; // distance between neutral wire and earth
# }

patterns: [{
  include: "#object-properties-common"
}
{
  name: 'line-spacing.powerflow.property.glm'
  match: "^\\s*(distance_(?:AB|AC|BC|CA|AN|BN|CN|AE|BE|CE|NE))\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.line-spacing.powerflow.glm'
    2: patterns: [{include: "#double"}]
  }]
