key: 'powerflow-powerflow_library'

patterns: [
  name: 'object.glm'
  begin: "(?<=^|\\s)(object)\\s*(?:(?<=\\s)(powerflow_library(?=\\W))(?::(\\d*)(?:\\.\\.(\\d+))?)?)\\s*\\{?"
  beginCaptures:
    1: name: "storage.type.object.glm"
    2: name: "entity.name.function.object.glm"
    3: name: "constant.id.object.glm"
    4: name: "constant.id.object.glm"
  end: "}"
  patterns: [
    {include: "#powerflow-properties-powerflow_library"}
  ]]
