key: 'powerflow-properties-pqload'

patterns: [{
  name: 'pqload.powerflow.property.glm'
  match: "^\\s*(weather)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.pqload.powerflow.glm'
    2: patterns: [{include: "#object"}]
}
{
  name: 'pqload.powerflow.property.glm'
  match: "^\\s*(T_nominal|(?:Zp|Zq|Im|Ia|Pp|Pq)(?:_[THSWR])?|input_(?:temp|humid|solar|wind|rain)|output_(?:imped_[pq]|current_[ma]|power_[pq]))\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.pqload.powerflow.glm'
    2: patterns: [{include: "#double"}]
}
{
  name: 'pqload.powerflow.property.glm'
  match: "^\\s*(output_(?:impedance|current|power))\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.pqload.powerflow.glm'
    2: patterns: [{include: "#complex"}]
  }]
