key: 'powerflow-properties-voltdump'

patterns: [{
  name: 'voltdump.powerflow.property.glm'
  match: "^\\s*(filename|group)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.voltdump.powerflow.glm'
    2: patterns: [{include: "#char32"}]
}
{
  name: 'voltdump.powerflow.property.glm'
  match: "^\\s*(runtime)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.voltdump.powerflow.glm'
    2: patterns: [{include: "#timestamp"}]
}
{
  name: 'voltdump.powerflow.property.glm'
  match: "^\\s*(mode)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.voltdump.powerflow.glm'
    2: patterns: [{include: "#enumeration"}]
  }]
