key: 'powerflow-properties-load'

patterns:[{
  name: 'load.powerflow.property.glm'
  match: "^\\s*(load_class)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.load.powerflow.glm'
    2: patterns: [{include: "#enumeration"}]
}
{
  name: 'load.powerflow.property.glm'
  match: "^\\s*(measured_voltage_(?:A|B|C|AB|BC|CA)|constant_power_[ABC]|constant_current_[ABC]|constant_impedance_[ABC]|base_power_[ABC]|power_pf_[ABC]|current_pf_[ABC]|impedance_pf_[ABC]|power_fraction_[ABC]|current_fraction_[ABC]|impedance_fraction_[ABC])\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.load.powerflow.glm'
    2: patterns: [{include: "#complex"}]
}]
