key: 'powerflow-properties-link'

comment: "base class for the powerflow modules"
#TODO have this base class used by derived classes
patterns: [{
  name: 'link.powerflow.property.glm'
  match: "^\\s*(from|to|power_in|power_out|power_losses|power_in_[ABC]|power_out[ABC]|power_losses_[ABC]|status|current_out_[ABC]|current_in_[ABC]|flow_direction|mean_repair_time)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.link.powerflow.glm'
    2: patterns: [{include: "#wildcard-element"}] #TODO
  }]
