key: 'powerflow-properties-transformer'

patterns:[{
  name: 'transformer.powerflow.property.glm'
  match: "^\\s*(aging_constant|aging_granularity|ambient_temperature|percent_loss_of_life|top_oil_hot_spot_temperature|winding_hot_spot_temperature)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.transformer.powerflow.glm'
    2: patterns: [{include: "#double"}]
}
{
  name: 'transformer.powerflow.property.glm'
  match: "^\\s*(climate|configuration)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.transformer.powerflow.glm'
    2: patterns: [{include: "#object"}]
}
{
  name: 'transformer.powerflow.property.glm'
  match: "^\\s*(use_thermal_model)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.transformer.powerflow.glm'
    2: patterns: [{include: "#boolean"}]
}]
