key: 'powerflow-properties-billdump'

patterns: [{
  name: 'billdump.powerflow.property.glm'
  match: "^\\s*(filename|group)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.billdump.powerflow.glm'
    2: patterns: [{include: "#char32"}]
}
{
  name: 'billdump.powerflow.property.glm'
  match: "^\\s*(runtime)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.billdump.powerflow.glm'
    2: patterns: [{include: "#timestamp"}]
  }]
