key: 'powerflow-properties-capacitor'

patterns: [{
  name: 'capacitor.powerflow.property.glm'
  match: "^\\s*(pt_phase|phases_connected)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.capacitor.powerflow.glm'
    2: patterns: [{include: "#set"}]
}
{
  name: 'capacitor.powerflow.property.glm'
  match: "^\\s*(switch[ABC]|control|control_level)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.capacitor.powerflow.glm'
    2: patterns: [{include: "#enumeration"}]
}
{
  name: 'capacitor.powerflow.property.glm'
  match: "^\\s*(cap_[ABC]_switch_count)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.capacitor.powerflow.glm'
    2: patterns: [{include: "#int16"}]
}
{
  name: 'capacitor.powerflow.property.glm'
  match: "^\\s*((?:voltage|VAr)_set_(?:high|low)|capacitor_[ABC]|cap_nominal_voltage|time_delay|dwell_time|lockout_time)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.capacitor.powerflow.glm'
    2: patterns: [{include: "#double"}]
}
{
  name: 'capacitor.powerflow.property.glm'
  match: "^\\s*(remote_sense(?:_B)?)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.capacitor.powerflow.glm'
    2: patterns: [{include: "#object"}]
  }]
