key: 'powerflow-properties-recloser'

patterns: [{
  name: 'recloser.powerflow.property.glm'
  match: "^\\s*(retry_time|(?:maximum_)?number_of_tries)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.recloser.powerflow.glm'
    2: patterns: [{include: "#double"}]
  }]
