key: 'powerflow-properties-restoration'

patterns: [{
  name: 'restoration.powerflow.property.glm'
  match: "^\\s*(reconfig_(?:attempts|iteration_limit))\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.restoration.powerflow.glm'
    2: patterns: [{include: "#double"}]
}
{
  name: 'restoration.powerflow.property.glm'
  match: "^\\s*(populate_tree)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.restoration.powerflow.glm'
    2: patterns: [{include: "#boolean"}]
  }]
