key: 'powerflow-properties-triplex_meter'

patterns:[{
  name: 'triplex-meter.powerflow.property.glm'
  match: "^\\s*(measured_(?:real_energy|reactive_energy|demand|real_power|reactive_power)|price|monthly_(?:fee|bill|energy)|previous_monthly_(?:bill|energy)|(?:first|second|third)_tier_(?:price|energy))\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.triplex-meter.powerflow.glm'
    2: patterns: [{include: "#double"}]
}
{
  name: 'triplex-meter.powerflow.property.glm'
  match: "^\\s*(measured_(?:power?|voltage_[12N]|current_[12N])|indiv_measured_power_[12N])\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.triplex-meter.powerflow.glm'
    2: patterns: [{include: "#complex"}]
}
{
  name: 'triplex-meter.powerflow.property.glm'
  match: "^\\s*(bill_mode)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.triplex-meter.powerflow.glm'
    2: patterns: [{include: "#enumeration"}]
}
{
  name: 'triplex-meter.powerflow.property.glm'
  match: "^\\s*(bill_day)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.triplex-meter.powerflow.glm'
    2: patterns: [{include: "#int32"}]
}
{
  name: 'triplex-meter.powerflow.property.glm'
  match: "^\\s*(power_market)\\s+([^;]*)(?=\\s*;)"
  captures:
    1: name: 'entity.name.function.triplex-meter.powerflow.glm'
    2: patterns: [{include: "#object"}]
}]
