# main.coffee
# This file is part of language-glm.
#
# Copyright (C) 2016 Nico Rikken
#
# Language-GLM is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Foobar is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with Foobar.  If not, see <http://www.gnu.org/licenses/>.

# Grammar master
name: ''
scopeName: ''
fileTypes: []
copyright: ''
license: ''

maxTokensPerLine: 100

patterns: [
  include: '#comments'
,
  include: "#macros" # -> macros-includes
,
  include: "#clock"
  #TODO extern
  #TODO global
  #TODO instance
  #TODO link
,
  include: "#modules"
,
  include: "#powerflow-objects" #TODO merge module-specic objects into #objects
,
  include: "#objects"
  #TODO schedule
  #TODO script
,
  include: "#variables"
]
repository:
  'macros-includes':
    patterns: [
      include: "#macro-file"
    ,
      include: "#macro-closed"
    ,
      include: "#macro-command-options" # -> command-option
    ,
      include: "#macro-commands"
    ,
      include: "#macro-file"
    ,
      include: "#macro-message"
    ,
      include: "#macro-path"
    ,
      include: "#macro-test"
    ,
      include: "#macro-variable"
    ,
      include: "#macro-variable-custom"
    ,
      include: "#macro-variable-environment"
    ,
      include: "#macro-variable-global"
    ]
  'clock-includes':
    patterns: [
      include: "#clock-timestamps"
    ,
      include: "#clock-timezones"
    ]
  'modules':
    patterns: [
      include: "#module-assert"
    ,
      include: "#module-climate"
    ,
      include: "#module-commercial"
    ,
      include: "#module-communications"
    ,
      include: "#module-generators"
    ,
      include: "#module-market"
    ,
      include: "#module-matpower"
    ,
      include: "#module-network"
    ,
      include: "#module-powerflow"
    ,
      include: "#module-reliability"
    ,
      include: "#module-residential"
    ,
      include: "#module-tape"
    ]
  'module-global-variables':
    patterns: [
      include: "#powerflow-module-globals"
    ,
      include: "#residential-module-globals"
    ,
      include: "#commercial-module-globals"
    ,
      include: "#tape-module-globals"
    ]
  'object-includes':
    #TODO dispatch per object type
    patterns: [
      include: '#comments'
    ,
      include: "#object-properties-common"
    ,
      include: "#powerflow-properties"
    ]
  'powerflow-objects':
    patterns: [
      include: "#powerflow-billdump"
    ,
      include: "#powerflow-capacitor"
    ,
      include: "#powerflow-currentdump"
    ,
      include: "#powerflow-emissions"
    ,
      include: "#powerflow-fault_check"
    ,
      include: "#powerflow-transformer"
    ]
  'powerflow-properties':
    patterns: [
      include: "#powerflow-properties-powerflow_object"
    ,
      include: "#powerflow-properties-node"
    ,
      include: "#powerflow-properties-link"
    ,
      include: "#powerflow-properties-billdump"
    ,
      include: "#powerflow-properties-capacitor"
    ,
      include: "#powerflow-properties-currentdump"
    ,
      include: "#powerflow-properties-emissions"
    ,
      include: "#powerflow-properties-fault_check"
    ,
      include: "#powerflow-properties-line"
    ,
      include: "#powerflow-properties-line_configuration"
    ,
      include: "#powerflow-properties-line_spacing"
    ,
      include: "#powerflow-properties-overhead_line"
    ,
      include: "#powerflow-properties-underground_line"
    ,
      include: "#powerflow-properties-triplex_line_configuration"
    ,
      include: "#powerflow-properties-triplex_line_conductor"
    ,
      include: "#powerflow-properties-transformer"
    ,
      include: "#powerflow-properties-transformer_configuration"
    ,
      include: "#powerflow-properties-load"
    ,
      include: "#powerflow-properties-meter"
    ,
      include: "#powerflow-properties-triplex_node"
    ,
      include: "#powerflow-properties-triplex_meter"
    ,
      include: "#powerflow-properties-triplex_load"
    ,
      include: "#powerflow-properties-regulator"
    ,
      include: "#powerflow-properties-regulator_configuration"
    ,
      include: "#powerflow-properties-fuse"
    ,
      include: "#powerflow-properties-switch"
    ,
      include: "#powerflow-properties-recloser"
    ,
      include: "#powerflow-properties-relay"
    ,
      include: "#powerflow-properties-substation"
    ,
      include: "#powerflow-properties-pqload"
    ,
      include: "#powerflow-properties-volt_var_control"
    ,
      include: "#powerflow-properties-voltdump"
    ,
      include: "#powerflow-properties-restoration"
    ,
      include: "#powerflow-properties-series_reactor"
    ,
      include: "#powerflow-properties-sectionalizer"
    ,
      include: "#powerflow-properties-power_metrics"
      #TODO include other (experimental) properties
    ]
    'variables': # grouping only for convenience
      patterns: [
        include: "#coordinates"
      ,
        include: "#macro-variable-expansion"
      ,
        include: "#string"
      , # TODO implement these specific types
        include: "#set-environment-variable"
      ,
        include: "#set-global-variable"
      ,
        include: "#set-custom-variable"
      ,
        include: "#timestamps"
      ,
        include: "#intrinsic-variable-expansion"
      ,
        include: "#object"
      ,
    # Not yet completed (TODO)
        include: "#wildcard-element"
      ,
        include: "#boolean"
      ,
        include: "#int16"
      ,
        include: "#int32"
      ,
        include: "#char32"
      ,
        include: "#char256"
      ,
        include: "#char1024"
      ,
        include: "#command"
      ,
        include: "#command-option"
      ,
        include: "#enumeration"
      ,
        include: "#file"
      ,
        include: "#path"
      ,
        include: "#set"
      ,
        include: "#test"
      ,
        include: "#variable"
      ,
        include: "#double"
      ,
        include: "#complex"
      ]
